<section data-ng-controller="HomeController">
  <article class="home-article article-border">
    <header class="header article-bottom-border">
      <div class="article-width">
        <div class="col-xs-6">
          <div class="user-info row">
            <div class="col-xs-2">
              <img class="article-avatar" src="/modules/core/client/img/brand/avatar.jpg">
            </div>
            <div class="col-xs-10">
              <p>sebabelmar</p>
            </div>
          </div>
        </div>
        <div class="time col-xs-6">
          <p>1w</p>
        </div>
      </div>
    </header>
    <div>
      <video class="article-bottom-border article-video" src="/modules/core/client/img/brand/pax.MOV" autoplay muted loop></video>
    </div>
    <div class="footer">
      <p class="footer-margin">3 memories</p>
      <hr class="footer-hr">
      <div class="row">
        <div class="col-xs-2">
          <i class="footer-margin glyphicon glyphicon-heart"></i>
        </div>
        <div class="col-xs-10">
          <p>
            <span typewrite
                  type-delay="100"
                  text="message"
                  initial-delay="1s"
                  class="ng-isolate-scope">
              <span class="blink">|</span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </article>
</section>



