<section data-ng-controller="HomeController">
  <article class="home-article article-border">
    <header class="header article-bottom-border">
      <div class="article-width">
        <div class="col-md-6">
          <div class="user-info row">
            <div class="col-xs-2">
              <img class="article-avatar" src="/modules/core/client/img/brand/avatar.jpg">
            </div>
            <div class="col-xs-10">
              <p>sebabelmar</p>
            </div>
          </div>
        </div>
        <div class="time col-md-6">
          <p>1w</p>
        </div>
      </div>
    </header>
    <div>
      <video class="article-bottom-border article-video" src="/modules/core/client/img/brand/pax.MOV" autoplay muted loop></video>
    </div>
    <div>
      <h3>Memories of your Instagram</h3>
      <p>March 14th, 2015 - San Francisco, CA</p>
    </div>
  </article>
</section>



