<section data-ng-controller="HomeController">
  <div class="">
    <article class="home-article article-border">
      <header>
        <div class="article-bottom-border article-width">
          <div class="col-md-6">
            <div class="article-width">
              <div class="col-xs-3">
                <img id="article-avatar" src="/modules/core/client/img/brand/avatar.jpg" alt="">
              </div>
              <div class="col-xs-9">
                <p>sebabelmar</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p>YEAH</p>
          </div>
        </div>
      </header>
      <div>
        <video class="article-bottom-border" id="article-video" src="/modules/core/client/img/brand/pax.MOV" autoplay muted loop></video>
      </div>
      <div>
        <h3>Memories of your Instagram</h3>
        <p>March 14th, 2015 - San Francisco, CA</p>
      </div>
    </article>
  </div>
</section>



