<section>
  <div class="row pics-container">
    <div class="col-lg-3 col-md-4 col-xs-6 col-seba" ng-repeat="pic in vm.pictures">
      <a class="thumbnail-seba" ng-click="showInfoModal(pic)" href="">
        <img class="img-responsive" src="{{pic.imageThumbnail}}" alt="">
      </a>
    </div>
  </div>
  <!--Add a import button-->
  <div class="alert alert-warning text-center" data-ng-if="vm.pictures.$resolved && !vm.pictures.length">
    No Pictures yet, why don't you <a data-ui-sref="pictures.create">create one</a>?
  </div>
</section>
