.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*Header Style*/
.instagram-logo {
  min-height: 50px;
  max-height: 50px;
  margin-right: 15px;
  padding:5px;
}

/*Header Style*/
.instagram-logo {
  min-height: 50px;
  max-height: 50px;
  margin-right: 15px;
  padding:5px;
}

.home-article{
  margin-top: 10px;
  width: 380px;
  background-color: #fff;
  border-radius: 1%;
}

.article-width{
  width: 379px;
}

.article-video{
  width: 378px;
}

.article-border{
  border: 1px solid #e1e0e0;
}

.article-bottom-border {
  border-bottom: 1px solid #e1e0e0;
}

.article-avatar{
  width: 45px;
  border-radius: 50%;
  margin: 5px 5px 5px -10px;
  border: 1px solid #e1e0e0;
}

.header{
  height: 60px;
}

.user-info p{
  margin: 17px 0 0 7px;
}

.time p{
  margin: 17px 0 0 0px;
  float: right;
  color: #8f8f8f;
}



/*header img{*/
  /*float: left;*/
/*}*/

/*header p  {*/
  /*float: right;*/
/*}*/
